<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="site">
            <section id="site-title"></section>
            <section id="site-summary"></section>
        </div>
        <div id="navi-top">
            <nav></nav>
        </div>
        <div id="trunk">
            <div id="contents"></div>
            <div id="gadgets"></div>
        </div>
        <div id="navi-bottom">
            <nav></nav>
        </div>
        <div id="copyright">
            <p>Copyright &copy;2023 T.MURACHI</p>
        </div>
    </body>
</html>